// duplicate and remove .example(env.js is in .gitignore)

module.exports = {
  databaseURI: 'mongodb://parse_is:NwzJPwH7b8HGvp@ds031607.mlab.com:31607/parse_mongo', // url to mongo store
  appId: 'replaceMe', // required, app id
  masterKey: 'replaceMe', // required, secret master key
  serverURL: 'http://localhost', // just use base url
  appName: 'local', // for dashboard label
  port: 8080, // required, port to host on
  cloudDir: '', //optional, cloud code path
  mountPath: '/parse', // mount path for parse server
  dashPath: '/dash', // path to dashboard
  redirectURL: '', // optional, for redirect from '/'
  pfx: '', // optional, path + file to ssl cert
  passphrase:'', // optional, passphrase for ssl cert
  liveQueryClassNames: [], // optional, add class names to enable ws
  users: [{user: 'binarytide', pass: 'jqx4WzqwE2XMPL'}] // {user: , pass:} to add a user for dashboard
}
